UNCDF/Gastos Financieros/UNCDF.Layers.Business/obj/project.assets.json
UNCDF/Gastos Financieros/UNCDF.Layers.Business/obj/project.nuget.cache
UNCDF/Gastos Financieros/UNCDF.Layers.Business/obj/UNCDF.Layers.Business.csproj.nuget.dgspec.json
UNCDF/Gastos Financieros/UNCDF.Layers.Business/obj/UNCDF.Layers.Business.csproj.nuget.g.props
UNCDF/Gastos Financieros/UNCDF.Layers.Business/obj/UNCDF.Layers.Business.csproj.nuget.g.targets
UNCDF/Gastos Financieros/UNCDF.Layers.Business/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
UNCDF/Gastos Financieros/UNCDF.Layers.Business/obj/Debug/netcoreapp3.1/UNCDF.Layers.Business.AssemblyInfo.cs
UNCDF/Gastos Financieros/UNCDF.Layers.Business/obj/Debug/netcoreapp3.1/UNCDF.Layers.Business.AssemblyInfoInputs.cache
UNCDF/Gastos Financieros/UNCDF.Layers.Business/obj/Debug/netcoreapp3.1/UNCDF.Layers.Business.assets.cache
UNCDF/Gastos Financieros/UNCDF.Layers.Business/obj/Debug/netcoreapp3.1/UNCDF.Layers.Business.csproj.CopyComplete
UNCDF/Gastos Financieros/UNCDF.Layers.Business/obj/Debug/netcoreapp3.1/UNCDF.Layers.Business.csproj.CoreCompileInputs.cache
UNCDF/Gastos Financieros/UNCDF.Layers.Business/obj/Debug/netcoreapp3.1/UNCDF.Layers.Business.csproj.FileListAbsolute.txt
UNCDF/Gastos Financieros/UNCDF.Layers.Business/obj/Debug/netcoreapp3.1/UNCDF.Layers.Business.csprojAssemblyReference.cache
UNCDF/Gastos Financieros/UNCDF.Layers.Business/obj/Debug/netcoreapp3.1/UNCDF.Layers.Business.dll
UNCDF/Gastos Financieros/UNCDF.Layers.Business/obj/Debug/netcoreapp3.1/UNCDF.Layers.Business.pdb
UNCDF/Gastos Financieros/UNCDF.Layers.Business/bin/Debug/netcoreapp3.1/UNCDF.Layers.Business.deps.json
UNCDF/Gastos Financieros/UNCDF.Layers.Business/bin/Debug/netcoreapp3.1/UNCDF.Layers.Business.dll
UNCDF/Gastos Financieros/UNCDF.Layers.Business/bin/Debug/netcoreapp3.1/UNCDF.Layers.Business.pdb
UNCDF/Gastos Financieros/UNCDF.Layers.Business/bin/Debug/netcoreapp3.1/UNCDF.Layers.DataAccess.dll
UNCDF/Gastos Financieros/UNCDF.Layers.Business/bin/Debug/netcoreapp3.1/UNCDF.Layers.DataAccess.pdb
UNCDF/Gastos Financieros/UNCDF.Layers.Business/bin/Debug/netcoreapp3.1/UNCDF.Layers.Models.dll
UNCDF/Gastos Financieros/UNCDF.Layers.Business/bin/Debug/netcoreapp3.1/UNCDF.Layers.Models.pdb
UNCDF/Gastos Financieros/UNCDF.Layers.Business/bin/Debug/netcoreapp3.1/UNCDF.Utilities.dll
UNCDF/Gastos Financieros/UNCDF.Layers.Business/bin/Debug/netcoreapp3.1/UNCDF.Utilities.pdb
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/bin/Debug/netcoreapp3.1/UNCDF.Layers.DataAccess.deps.json
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/bin/Debug/netcoreapp3.1/UNCDF.Layers.DataAccess.dll
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/bin/Debug/netcoreapp3.1/UNCDF.Layers.DataAccess.pdb
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/bin/Debug/netcoreapp3.1/UNCDF.Layers.Models.dll
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/bin/Debug/netcoreapp3.1/UNCDF.Layers.Models.pdb
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/bin/Debug/netcoreapp3.1/UNCDF.Utilities.dll
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/bin/Debug/netcoreapp3.1/UNCDF.Utilities.pdb
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/Debug/netcoreapp3.1/UNCDF.WebApi.Security.AssemblyInfo.cs
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/Debug/netcoreapp3.1/UNCDF.WebApi.Security.AssemblyInfoInputs.cache
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/Debug/netcoreapp3.1/UNCDF.WebApi.Security.assets.cache
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/Debug/netcoreapp3.1/UNCDF.WebApi.Security.csproj.CopyComplete
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/Debug/netcoreapp3.1/UNCDF.WebApi.Security.csproj.CoreCompileInputs.cache
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/Debug/netcoreapp3.1/UNCDF.WebApi.Security.csproj.FileListAbsolute.txt
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/Debug/netcoreapp3.1/UNCDF.WebApi.Security.csprojAssemblyReference.cache
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/Debug/netcoreapp3.1/UNCDF.WebApi.Security.dll
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/Debug/netcoreapp3.1/UNCDF.WebApi.Security.genruntimeconfig.cache
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/Debug/netcoreapp3.1/UNCDF.WebApi.Security.MvcApplicationPartsAssemblyInfo.cache
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/Debug/netcoreapp3.1/UNCDF.WebApi.Security.pdb
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/Debug/netcoreapp3.1/UNCDF.WebApi.Security.RazorTargetAssemblyInfo.cache
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/obj/project.assets.json
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/obj/project.nuget.cache
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/obj/UNCDF.Layers.DataAccess.csproj.nuget.dgspec.json
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/obj/UNCDF.Layers.DataAccess.csproj.nuget.g.props
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/obj/UNCDF.Layers.DataAccess.csproj.nuget.g.targets
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/obj/Debug/netcoreapp3.1/UNCDF.Layers.DataAccess.AssemblyInfo.cs
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/obj/Debug/netcoreapp3.1/UNCDF.Layers.DataAccess.AssemblyInfoInputs.cache
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/obj/Debug/netcoreapp3.1/UNCDF.Layers.DataAccess.assets.cache
UNCDF/Gastos Financieros/UNCDF.Layers.DataAccess/obj/Debug/netcoreapp3.1/UNCDF.Layers.DataAccess.csprojAssemblyReference.cache
UNCDF/Gastos Financieros/UNCDF.Layers.Models/obj/project.assets.json
UNCDF/Gastos Financieros/UNCDF.Layers.Models/obj/project.nuget.cache
UNCDF/Gastos Financieros/UNCDF.Layers.Models/obj/UNCDF.Layers.Models.csproj.nuget.dgspec.json
UNCDF/Gastos Financieros/UNCDF.Layers.Models/obj/UNCDF.Layers.Models.csproj.nuget.g.props
UNCDF/Gastos Financieros/UNCDF.Layers.Models/obj/UNCDF.Layers.Models.csproj.nuget.g.targets
UNCDF/Gastos Financieros/UNCDF.Layers.Models/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
UNCDF/Gastos Financieros/UNCDF.Layers.Models/obj/Debug/netcoreapp3.1/UNCDF.Layers.Models.AssemblyInfo.cs
UNCDF/Gastos Financieros/UNCDF.Layers.Models/obj/Debug/netcoreapp3.1/UNCDF.Layers.Models.AssemblyInfoInputs.cache
UNCDF/Gastos Financieros/UNCDF.Layers.Models/obj/Debug/netcoreapp3.1/UNCDF.Layers.Models.assets.cache
UNCDF/Gastos Financieros/UNCDF.Layers.Models/obj/Debug/netcoreapp3.1/UNCDF.Layers.Models.csprojAssemblyReference.cache
UNCDF/Gastos Financieros/UNCDF.Utilities/obj/project.assets.json
UNCDF/Gastos Financieros/UNCDF.Utilities/obj/project.nuget.cache
UNCDF/Gastos Financieros/UNCDF.Utilities/obj/UNCDF.Utilities.csproj.nuget.dgspec.json
UNCDF/Gastos Financieros/UNCDF.Utilities/obj/UNCDF.Utilities.csproj.nuget.g.props
UNCDF/Gastos Financieros/UNCDF.Utilities/obj/UNCDF.Utilities.csproj.nuget.g.targets
UNCDF/Gastos Financieros/UNCDF.Utilities/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
UNCDF/Gastos Financieros/UNCDF.Utilities/obj/Debug/netcoreapp3.1/UNCDF.Utilities.AssemblyInfo.cs
UNCDF/Gastos Financieros/UNCDF.Utilities/obj/Debug/netcoreapp3.1/UNCDF.Utilities.AssemblyInfoInputs.cache
UNCDF/Gastos Financieros/UNCDF.Utilities/obj/Debug/netcoreapp3.1/UNCDF.Utilities.assets.cache
UNCDF/Gastos Financieros/UNCDF.Utilities/obj/Debug/netcoreapp3.1/UNCDF.Utilities.csprojAssemblyReference.cache
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/project.assets.json
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/project.nuget.cache
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/UNCDF.WebApi.Security.csproj.nuget.dgspec.json
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/UNCDF.WebApi.Security.csproj.nuget.g.props
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/UNCDF.WebApi.Security.csproj.nuget.g.targets
UNCDF/Gastos Financieros/UNCDF.WebApi.Security/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
